{{ 'section-text-vertical-slider.css' | asset_url | stylesheet_tag }}

<section id="VerticalSliderTextSection-{{ section.id }}" class="vertical-slider-text-section-wrap">
    <div class="vertical-slider-text-section-content" js-vertical-slider-wrap="container">
        <div class="left">
            <div class="left-content" data-aos="fade">
                {% if section.settings.versldMainTitle != blank %}
                    <h2>
                        {{ section.settings.versldMainTitle }}
                    </h2>
                {% endif %}

                {% if section.settings.versldSubtitle != blank %}
                    <span>{{ section.settings.versldSubtitle }}</span>
                {% endif %}

                {% if section.settings.versldDescription != blank %}
                    <p>
                        {{ section.settings.versldDescription }}
                    </p>
                {% endif %}

            </div>
        </div>
        <div class="right" data-aos="fade">
            
            <div class="slider first">
                <div class="inner desktop">
                    {% for block in section.blocks %}
                        <div class="image-holder-wrap">
                            <div class="image-holder">

                                <img src="{{ block.settings.single_image | image_url: width: 150 }}"
                                    data-srcset="{{ block.settings.single_image | image_url: width: 350 }} 100w, {{ block.settings.single_image | image_url: width: 350 }} 600w, {{ block.settings.single_image | image_url: width: 450 }} 1100w"
                                    class="lazyload"
                                    alt="{{ block.settings.single_image.alt }}" />
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="inner desktop">
                    {% for block in section.blocks %}
                        <div class="image-holder-wrap">
                            <div class="image-holder">
                                <img src="{{ block.settings.single_image | image_url: width: 150 }}"
                                    data-srcset="{{ block.settings.single_image | image_url: width: 350 }} 100w, {{ block.settings.single_image | image_url: width: 350 }} 600w, {{ block.settings.single_image | image_url: width: 450 }} 1100w"
                                    class="lazyload"
                                    alt="{{ block.settings.single_image.alt }}" />
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="slider second">
                <div class="inner desktop">
                    {% for block in section.blocks %}
                        <div class="image-holder-wrap">
                            <div class="image-holder">
                                <img src="{{ block.settings.single_image |  image_url  }}" alt="{{ block.settings.single_image.alt  }}" />
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="inner desktop">
                    {% for block in section.blocks %}
                        <div class="image-holder-wrap">
                            <div class="image-holder">
                                <img src="{{ block.settings.single_image |  image_url  }}" alt="{{ block.settings.single_image.alt  }}" />
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>
    </div>
</section>

{% schema %}
    {
      "name": "Vertical Slider With Text",
      "settings": [
        {
          "type": "textarea",
          "id": "versldMainTitle",
          "label": "Title"
        },{
          "type": "text",
          "id": "versldSubtitle",
          "label": "Subtitle"
        },{
          "type": "textarea",
          "id": "versldDescription",
          "label": "Description"
        }
      ],
      "blocks": [
        {
            "type": "images",
            "name": "Images",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "single_image",
                    "label": "Image"
                }
            ]
        }
      ],
      "presets": [
        {
          "name": "Vertical Slider With Text"
        }
      ]
    }
  {% endschema %}